@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz%7CTeko%7CYellowtail%7CBenchNine%7CLato%7CScope+One');

* {
    box-sizing: border-box;
    font-size: 16px;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  .outer-col-1 {
    background: #ffffff;
    flex: 1;
  }
  .outer-col-1 {
    background: #ffffff;
    flex: .5;
  }
  .outer-col-2 {
    display: flex;
    flex-direction: column;
    flex: 2.5;
    min-width: 60vh;
  }
  .inner-row {
    display: flex;
    flex-direction: row;
    width:100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  .inner-col {
    flex: 2;
  }
  #header-left {
    float: left;
  }
  #header-left img {
    float: left;
    width: 2.8em;
    height: 3.1em;
    background: #555;
  }
  #left-padding{
    padding-left: .6em;
    float: left;
  }

  #header-left h1 {
    font-size: 2.4em;
    font-family: 'Yellowtail', cursive;
    float:left;
  }
  #header-left h2 {
    clear: left;
    font-size: .9em;
    padding-left: .3em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #7a7a7a;
  }
  #header-right {
    float: right;
    display: inline-block;
  }
  #header-right ul {
    float:right;
  }
  #header-right li {
    list-style-type: none;
    display: block;
    float:left;
    padding-top: .7em;
  }
  #header-right img {
    float:right;
    height: 1.5em;
    width: 1.5em;
    margin: .08em;
  }
  .inner-row main {
    min-height: 60vh;
  }
  .inner-row aside {
    background: beige;
    flex: 1;
  }
  .inner-row p {
    font-family: 'Scope One', serif;
    color: #545454;
    text-align: left;
    text-indent: 2em;
    line-height: 1.3em;
    padding-top: 1.6em;
    font-size: 1.25em;
  }
  header, footer {
    background: #ffffff;
    height: 9vh;
    min-height: 6rem;
  }
  header, footer, main, nav, aside {
    padding: 1em;
  }
  #hrule {
      float: left;
      width: 100%;
      height: .8em;
      background: repeating-linear-gradient(45deg,
       #FFFFFF 0,
       #D3D3D3 .2px /* transition */, #D3D3D3 .1em,
       #FFFFFF calc(.06em + 1px), #FFFFFF .28em
     );
  }
  #sub-header {
    padding-top: 2em;
  }
  #sub-header-left {
    float: left;
  }
  #sub-header-left img {
    float: left;
    width: 2.6em;
    height: 3em;
    background: #555;
  }
  #sub-header-left h1 {
    font-size: 3.5em;
    font-family: 'BenchNine', sans-serif;
    font-weight: 500;
    float:left;
    line-height: .75em;
  }
  #sub-header-left h2 {
    clear: left;
    font-size: .79em;
    margin-left: .2em;
    font-family: 'Lato', sans-serif;
    color: #7e7e7e;
    margin-top: -1.8em;
  }
  #sub-header-right {
    float: right;
    display: inline-block;
  }
  #sub-header-right img {
    float: right;
    display: inline-block;
  }
  #sub-header-right h2 {
    float: right;
    font-size: .79em;
    margin-left: .4em;
    margin-right: .4em;
    font-family: 'Lato', sans-serif;
    color: #7e7e7e;
    display: inline-block;
  }
  #sub-right-padding {
    padding-top: 4.65em;
  }
  #main-image {
    width:100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  #img-div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #img-div img{
  padding-top: 1em;
  }


  #paper-continer {
    width:100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;

  }
  #paper-image{
    height: 100%;
    min-height: 18.5em;
    max-height:18.5em;
    width: 100%;
    display: flex;
    margin-top: 2em;
    background-image: url('../img/list-bg.png');
    flex-flow: column wrap;
    padding-top: 2em;
    padding-bottom: 2em;
  }

#checkboxes {
  margin-top: .4em;
  margin-bottom: .4em;
  margin-left: 4.5em;
  position: relative;
}

#checkboxes label {
  cursor: pointer;
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
  left: 0;
	background: #eee;
	border: .08em solid #A68064;
  border-radius: .15em;
}

#label-text {
  position:absolute;
  left: 3;
}

#checkboxes label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: .5em;
	height: .1em;
	background: transparent;
	top: .25em;
	left: .1em;
	border: .2em solid #6B4226;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

#checkboxes label:hover::after {
	opacity: 0.5;
}

#checkboxes input[type=checkbox]:checked + label:after {
	opacity: 1;
}

#checkboxes span {
  font-family: 'BenchNine', sans-serif;
  font-size: 1.4em;
  flex-wrap: wrap;
}
