@import url('https://fonts.googleapis.com/css?family=Droid+Serif%7CTeko%7CYellowtail');

* {
    box-sizing: border-box;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  .outer-col-1 {
    background: #ffffff;
    flex: 1;
  }
  .outer-col-2 {
    display: flex;
    flex-direction: column;
    flex: 4;
    min-width: 60vh;
  }
  .inner-row {
    display: flex;
    flex-direction: row;
  }
  .inner-col {
    flex: 4;
  }
  #header-left {
    float: left;
  }
  #header-left img {
    float: left;
    width: 2.7em;
    height: 2.8em;
    background: #555;
  }
  #left-padding{
    padding-left: 1em;
    float: left;
  }
  #header-left h1 {
    font-size: 2em;
    font-family: 'Yellowtail', cursive;
    float:left;
  }
  #header-left h2 {
    font-size: .8em;
    font-family: 'Droid Serif', serif;
    color: grey;
  }
  #header-right {
    float:right;
  }
  .inner-row main {
    min-height: 60vh;
    border: 1px solid;
  }
  .inner-row aside {
    background: beige;
    flex: 1;

  }
  header, footer {
    background: #ffffff;
    height: 15vh;
    min-height: 6rem;
    border: 1px solid;
  }
  header, footer, main, nav, aside {
    padding: 1em;
  }
  #hrule {
	  height: 6px;
	  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
  }
